*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body{
    background-image: linear-gradient(to right, #9E7AE7, #FDB92E);
    background-blend-mode: hard-light;
    color: #FEF5DA;
    padding: 2rem;
    min-height: 100vh;
}

header{
    font-size: 2rem;
    text-decoration: underline;
    border-radius: 10px;
}

header,form{
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

form input, form button {
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background-color: #FEF5DA;
    border-radius: 5px;
}

form button{
    color: #443662;
    background-color: #FEF5DA;
    cursor: pointer;
    transition: all 0.4s ease;

}

form button:hover {
    background-color: #443662;
    color: #FEF5DA;
}

.todo-container {
display: flex;
justify-content: center;
align-items: center;
border-radius: 10px;
}

.todo-list {
    min-width: 30%;
    list-style: none;
    margin-right: 37px;
}

.todo {
    margin: 0.7rem;
    padding: 0.5rem;
    background-color: #FEF5DA;
    color: #443662;
    display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 10px;
}

.todo li{
    flex: 1;
}

.trash-btn, .complete-btn{
    color: #443662;
    padding: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}

.complete-btn:hover{
    background-color: rgb(166, 228, 166);
    transition: 0.4s ease;
}

.trash-btn:hover{
    background-color: rgb(233, 132, 152);
    transition: 0.4s ease;
}

.todo-item{
    padding: 0rem 0.5rem;
    font-size: 25px;
}

.placetext{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-block-start: 10px;
    font-size: 20px;
}